body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
}

.grid-square {
    flex-basis: 640px;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    border: 1px solid black;
}

.square-div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    aspect-ratio: 1;
    box-sizing: border-box;
    
    
}

#grid-button {
    width: 160px;
    border-radius: 4px;
}

.hero {
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 640px;
}
